<?xml version="1.0" encoding="utf-8"?>
<!--
  이 파일은 안드로이드에게 앱을 소개하는 명함이다.
  앱 이름, 아이콘, 어떤 화면부터 시작하는지, 어떤 권한이 필요한지를 적는다.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 휴식이 끝나면 진동으로 알린다 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Hasenheide">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Hasenheide">
            <!-- 이 줄들이 "앱 서랍의 아이콘을 누르면 이 화면부터 시작" 이라는 뜻 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
